p{
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;

}
.back{
    --bs-bg-opacity: 1;
    background-color:rgb(166, 186, 230);

}

.L{ text-shadow:2px 2px 6px rgb(97, 126, 189); color: rgb(245, 245, 245); font-size: 50px ; font-weight:bolder;}

.b{ color:rgb(166, 186, 230);  }
.blue{color:rgb(47, 44, 230); }
.red{color:rgb(241, 0, 0);  }
.y1{color:rgb(40, 81, 114); }
.g{color: #57722d;}
.b_m{color: rgb(47, 60, 133);}
.icon{ color: rgb(97, 126, 189);}
.p{color: rgb(47, 60, 133);font-weight: bold;font-size: 15px;}
.y2{color: rgb(119, 135, 228);text-shadow:1px 1px 1px rgb(196, 179, 196);}
.p2{color: rgb(75, 110, 187);text-shadow:1px 1px 1px rgb(196, 179, 196);}

